*.iml
.gradle
/app/build/
/app/release/
/filelistview/build
/xlgame/build
local.properties
*/local.properties
/app/.idea/
/filelistview/.idea/
.idea
/gradle/wrapper/
/xlgame/.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.dex
*.class

